<template>
  <div>
    order

    <button @click="handleSubmitOrder">提交订单</button>
  </div>
</template>
<script>
import { onMounted, reactive, toRefs, getCurrentInstance, toRef } from "vue"
import { confirmOrder, submitOrder, payParams } from "@/api/order"
export default {
  setup(){
    const instance = getCurrentInstance();
    const state = reactive({
      basketIds: [],
      addrId: 0,
      couponIds: [], //优惠券id，
      userChangeCoupon: 1 // 优惠卷种类
    });
    const orderData = toRef([]);
    const init = async () => {
      // console.log(instance);
      state.basketIds = instance.ctx.option.basketIds.split(',');
      // 请求订单数据
      const data = await confirmOrder({
        ...state
      })
      // console.log(data);
      orderData.value = data;
    }
    onMounted(() => {
      init();
    })
    const methods = {
      async handleSubmitOrder(){
        const orderShopParam = orderData.value.shopCartOrders.map(item => ({remarks: item.remarks, shopId: item.shopId}));
        // 创建订单
        const { orderNumbers } = await submitOrder({
          orderShopParam
        })

        const payData = await payParams({
          payType:1,
          orderNumbers
        })

        const res = await wx.requestPayment({
          ...payData,
          package: payData.packageValue
        })
        // 根据res来判断 成功还是失败
        console.log(res);
      }
    }
    return {
      ...toRefs(state),
      ...methods,
      orderData
    }
  },
  onLoad(option){
    // console.log(option);
    this.option = option;
  }
}
</script>
<style lang="scss">
  
</style>