<template>
  <view
    :key="val.prodId"
    v-for="val in carList"
    class="shopcarList"
  >
    <view class="checkbox-wrapper">
      <view class="checkbox" :class="{checked: val.checked}" @click="handlCheckItem(val.basketId)" />
    </view>
    <base-shop-Item 
      sub-title="skuName"
      :shop-item-data="val"
    >
      <template #shopItemIcons>
        <view class="counts">
          <button @click="hanldChangeCount(-1, val)">-</button>
          <button>{{val.prodCount}}</button>
          <button @click="hanldChangeCount(1, val)">+</button>
        </view>
      </template>
    </base-shop-Item>
  </view>
</template>
<script>
export default {
  props: {
    carList: {
      type: Array
    }
  },
  setup(props, {emit}){
    const methods = {
      handlCheckItem(basketId){
        emit('change', basketId);
      },
      hanldChangeCount(count, val){
        if(count === -1 && val.prodCount === 1){
          return;
        }
        emit('changeCount', {
          count,
          itemData: val
        });
      }
    }

    return {
      ...methods
    }
  }
}
</script>
<style lang="scss">
  .counts {
    display: flex;
    button {
      width: 30px;
      height: 30px;
      margin: 0;
      padding: 0;
      text-align: center;
      line-height: 30px;
    }
  }
  .shopcarList {
    display: flex;
    box-sizing: border-box;
    padding-left: 5px;
    .checkbox-wrapper {
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>