<template>
  <div v-if="status">
    <base-empty v-if="status === 1" tip="您还没有添加商品">
      <button @click="goHome">快去逛逛吧</button>
    </base-empty>
    <template v-if="status === 2">
      <shop-car-list :car-list="shopCarInfo" @change="handleChange" @changeCount="handleChangeCount"/>
      <view class="car-footer">
        <view class="checkbox" :class="{checked: allChecked}" @click="handleAllCheckedChange"></view> 全选
        <text>删除</text>
        合计：￥{{totalMoney}}
        <button @click="goOrderPage">去结算</button>
      </view>
    </template>
  </div>
  <div v-else>
    loading...
  </div>
</template>
<script>
import { onMounted, reactive, toRefs, watch } from "vue"
import ShopCarList from "./components/shopCarList"
import {shopCarInfo, shopCarTotalPay, shopCarChangeItem} from "@/api/shopcar"
export default {
  components: {
    ShopCarList
  },
  setup(){
    const state = reactive({
      shopCarInfo: [],
      totalMoney: 0,
      allChecked: false,
      status: 0 // 0 初始状态loading状态  1 数据加载成功但是数据为空状态 2 代表数据加载成功有数据状态
    });
    const methods = {
      goHome(){
        uni.bw_navgiate({
          url: '/pages/index/index',
          replace: true
        })
      },
      // 获取总价格
      async getTotalPay(checkeds){
        const { totalMoney } = await shopCarTotalPay(checkeds);
        // console.log(data);
        state.totalMoney = totalMoney;
      },
      handleChange(e){ // 单选按钮发生变化 修改当前单选状态
        const curItem = state.shopCarInfo.find(item => item.basketId === e);
        curItem.checked = !curItem.checked; // 先改单选在改全选
        state.allChecked = state.shopCarInfo.every(item => item.checked);
      },
      // 全选事件
      handleAllCheckedChange(){
        state.allChecked = !state.allChecked;
        // 全选控制单选
        state.shopCarInfo = state.shopCarInfo.map(item => ({...item,checked: state.allChecked}));
        // console.log(state.checkeds, state.shopCarInfo);
      },
      // 点击+ -
      async handleChangeCount({count, itemData:{prodId, shopId, skuId}}){
        uni.showLoading();
        try {
          await shopCarChangeItem({
            count,
            prodId,
            shopId,
            skuId
          });
          // 等接口成功之后在修改本地数据
          const items = state.shopCarInfo.find(item => item.prodId === prodId);
          items.prodCount = items.prodCount + count;
        }catch(error) {
          uni.showToast({
            icon: 'none',
            title: error
          })
        }finally{
          uni.hideLoading();
        }
      },
      goOrderPage(){
        const isChecked = state.shopCarInfo.some(item => item.checked);
        if(!isChecked){
          uni.showToast({
            title:'请选择商品',
            icon: 'none'
          })
          return;
        }
        // 跳转到订单页面
        uni.bw_navgiate({
          url: '/pages/order/index',
          params: {
            basketIds: state.shopCarInfo.filter(item => item.checked).map(item => item.basketId)
          }
        })
      }
    };
    watch(() => state.shopCarInfo ,(val) => {
      const checkeds = val.filter(item => item.checked).map(item => item.basketId);
      methods.getTotalPay(checkeds);
    }, {
      immediate: true,
      deep: true
    })
    const init = async () => {
      try {
        const data = await shopCarInfo();
        if(Array.isArray(data) && data.length === 0){
          state.status = 1;
          return;
        }
        const [{shopCartItemDiscounts:[{shopCartItems}]}] = data;
        state.status = 2;
        state.shopCarInfo = shopCartItems.map(item => ({...item, checked: false}));
      }catch(error) {
        console.error(error);
      }
    }
    onMounted(() => {
      init();
    })
    return {
      ...toRefs(state),
      ...methods
    }
  }
}
</script>
<style lang="scss">
  .checkbox {
    width: 20px;
    height: 20px;
    border:1px solid #333;
    border-radius: 50%;
    display: inline-block;
    &.checked {
      background: red;
    }
  }
</style>