<template>
  <view class="content">
    <swiper class="swiper">
      <swiper-item
        v-for="val in indexImage" 
        :key="val.seq"
        @click="hanldeImageClick"
      >
        <cover-image :src="val.imgUrl" />
      </swiper-item>
    </swiper>
    <view v-for="(val,index) in tagList" :key="val.id">
      <h2>{{val.title}}</h2>
      <view v-if="tagShopList[index]?.status === 'fulfilled'">
        <base-shop-Item
          v-for="item in tagShopList[index].value.records" 
          :key="item.prodId"
          :shop-item-data="item"
          @click="handleToDetail(item)"
        >
         <template #shopItemIcons>
          <cover-image class="caricon" src="../../static/tabbarIcon/basket-sel.png"/>
         </template>
        </base-shop-Item>
      </view>
    </view>
  </view>
</template>

<script>
import { onMounted, reactive, toRefs } from "vue"
import { setShopCarIconText } from "@/utils/utils"
import {getProdCount, getTagList, getTopNoticeList, getIndexImage, getProdListByTagId} from "@/api/home"
export default {
  setup(){
    const state = reactive({
      prodCount:null,
      tagList:null,
      topNoticeList:[],
      indexImage:[],
      tagShopList:[]
    }); // 把普通对象变成proxy对象可以监听数据变化

    const methods = {
      hanldeImageClick(){
        uni.bw_navgiate({
          url: '/pages/address/add'
        })
      },
      handleToDetail(item){
        uni.bw_navgiate({
          url: '/pages/detail/index',
          params: {
            prodId: item.prodId
          }
        })
      }
    }

    const init = async () => {
      uni.showLoading({mask:true, title: '加载中'})
      const [prodCount, tagList, topNoticeList, indexImage] = await Promise.allSettled([getProdCount(), getTagList(), getTopNoticeList(), getIndexImage()])
      state.prodCount = prodCount.value;
      state.tagList = tagList.value;
      state.topNoticeList = topNoticeList.value;
      state.indexImage = indexImage.value;
      // 设置购物车数量
      prodCount.value && setShopCarIconText(prodCount.value);
      const res = await Promise.allSettled(tagList.value.map(({id}) => getProdListByTagId({
        tagId: id,
        size: 6
      })))
      state.tagShopList = res;
      console.log(res);
      uni.hideLoading();
    } 
    onMounted(() => {
      console.log('onMounted---');
      init();
    })

    return {
      ...methods,
      ...toRefs(state)  // 属性跟proxy没有任何关联，所以需要使用toRefs进行包裹，确保解构出来的每一个属性可以监听到
    }
  }
}
</script>

<style>
.content {
  width: 100%;
}
.swiper {
  width: 100%;
  height: 171px;
}
.swiper cover-image {
  width: 100%;
  height: 100%;
}
.caricon {
  width: 20px;
  height: 20px;
}
</style>
