<template>
  <view class="empty-box">
    <cover-image :src="icon" />
    <view>{{tip}}</view>
    <slot />
  </view>
</template>
<script>
import defaultIcon from "@/static/tabbarIcon/basket.png"
export default {
  props: {
    tip: {
      type:String,
      default:'暂无数据'
    },
    icon: {
      default: defaultIcon
    }
  }
}
</script>
<style scoped lang="scss">
  .empty-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cover-image {
      max-width: 20%;
    }
  }
</style>