<template>
  <view class="shop-item" @click="hanldClick(shopItemData)">
    <view class="shop-item-dl">
      <view class="shop-item-dt">
        <cover-image :src="shopItemData.pic" />
      </view>
      <view class="shop-item-dd">
        <text class="shop-item-dd-h2">{{shopItemData.prodName}}</text>
        <text class="shop-item-dd-p">{{shopItemData[subTitle]}}</text>
        <text class="shop-item-dd-price">{{price}}</text>
      </view>
    </view>
    <view class="shop-item-rb-icons">
      <slot name="shopItemIcons" />
    </view>
  </view>
</template>
<script>
import { computed } from "vue"
export default {
  props: {
    shopItemData: {
      type:Object,
      default:() => ({
        pic: '商品图片',
        prodName: '商品名称',
        brief: '商品副标题',
        skuName: '',
        price: '价格'
      })
    },
    subTitle: {
      type: String,
      default: 'brief'
    },
  },
  setup(props, { emit }){
    const price = computed(() => {
      const { price } = props.shopItemData;
     return typeof price === 'number' ? `￥${price}` : (
       /^￥/.test(price) ? price : `￥${price}`
     )
    })
    const methods = {
      hanldClick(data){
        emit('click', data)
      }
    }
    return {
      price,
      ...methods
    }
  }
}
</script>
<style lang="scss">
  .shop-item {
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    &-dl {
      display: flex;
    }
    &-dt {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      cover-image {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &-dd {
      flex:1;
      overflow: hidden;
      box-sizing: border-box;
      padding-left: 5px;
      text{
        display: flex;
      }
      &-price{
        color: #de5f6b;
      }
    }
    &-rb-icons {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }
</style>