<template>
  <div>
    <button @click="toAddress">详细地址</button>
  </div>
</template>
<script>
const chooseLocation = requirePlugin('chooseLocation');
export default {
  setup(){
    const methods = {
      toAddress(){
        const key = 'PBWBZ-YAYWQ-D6L52-GYH5H-OZ5OQ-E7BEU'; //使用在腾讯位置服务申请的key
        const referer = '八维电商小程序'; //调用插件的app的名称
        const category = '生活服务,娱乐休闲';
        // 调起地图选点
        wx.navigateTo({
          url: `plugin://chooseLocation/index?key=${key}&referer=${referer}&category=${category}`
        });
      }
    }
    return {
      ...methods
    }
  },
  onShow(){
    const location = chooseLocation.getLocation();
    console.log(location);
  }
}
</script>
<style lang="scss">
  
</style>