<template>
  <div class="sku-dialog">
    <span class="sku-close-btn" @click="handleCloseDialog">X</span>
    <view class="sku-production-info">
      <view class="dt">
        <cover-image :src="checkedValue.pic"/>
      </view>
      <view class="dd">
        <text>￥<text>{{checkedValue.price}}</text></text>
        <text>已选 {{checkedValue.properties}},{{checkedValue.count}}件</text>
      </view>
    </view>
    <template v-if="skuDataList.length">
      <view class="sku-list-item" v-for="item in skuDataList" :key="item.id">
        <h2>{{item.title}}</h2>
        <view>
          <text 
            v-for="(val,i) in item.lists" 
            @click="handleSkuData(item, val)"
            :key="i"
            :class="{
              active: isActiveClass(item, val),
              disabled: isDisabledClass(item, val)
            }"
          >{{val}}</text>
        </view>
      </view>
    </template>
    <view class="sku-count-box">
      <h2>数量</h2>
      <view>
        <button @click="handleChangeCount(-1)">-</button>
        <text>{{shopCount}}</text>
        <button @click="handleChangeCount(1)">+</button>
      </view>
    </view>
    <view>
      <button>加入购物车</button>
      <button>立即购买</button>
    </view>
  </div>
</template>
<script>
import { reactive, toRefs, computed } from "vue"
export default {
  props:{
    skuData: Array
  },
  setup(props, { emit }){
    const { skuData } = props;
    const state = reactive({
      checkedValue: computed(() => {
        const { price, pic, properties } = skuData[state.checkedIndex];
        return {
          price,
          pic, 
          properties,
          count: state.shopCount
        };
      }),
      skuDataList: computed(() => {
        const { properties } = skuData[0]; // 找数组中第一条数据找到properties
        if(properties) {
          // 用;号拆分
          return properties.split(';').map((val, i) => {
            const [title] = val.split(':')
            return {
              title,
              id:i,
              lists: [...new Set(skuData.map((item) => {
                const props = item.properties.split(';'); 
                const [, value] = props[i].split(':');
                return value;
              }))]
            }
          })
        } else {
          return []
        }
      }),
      checkedIndex: 0, // 选中规格的下标
      shopCount: 1
    })


    const methods = {
      handleCloseDialog(){
        emit('close') 
      },
      handleChangeCount(flag){
        state.shopCount = (state.shopCount === 1 && flag === -1) ? 1 : (state.shopCount + flag);
      },
      isActiveClass(item, val){ // 计算类名
        const arr = state.checkedValue.properties.split(';');
        return arr[item.id].split(':')[1] === val;
      },
      isDisabledClass(item, val){
        const arr = state.checkedValue.properties.split(';');
        arr[item.id] = item.title + ':' + val;
        const properties = arr.join(';');
        const index = skuData.findIndex(item => item.properties === properties);
        return index === -1;
      },
      handleSkuData(item, val){ // 点击按钮选择规格
        // console.log(item, val);
        const arr = state.checkedValue.properties.split(';');
        arr[item.id] = item.title + ':' + val;
        const properties = arr.join(';');
        const index = skuData.findIndex(item => item.properties === properties);
        if(index > 0){
          state.checkedIndex = index;
        }
      }
    }

    return {
      ...toRefs(state),
      ...methods
    }
  }
}
</script>
<style lang="scss">
  .sku-dialog{
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    .sku-production-info {
      display: flex;
      .dt {
        width: 100px;
        height: 100px;
        margin-top: -50px;
        overflow: hidden;
        cover-image {
          width: 100%;
          height: 100%;
        }
      }
      .dd {
        flex:1;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 10px;
      }
    }
    .sku-close-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
    }
    .sku-list-item {
      display: flex;
      flex-direction: column;
      h2 {
        display: block;
      }
      &>view{
        text {
          display: inline-block;
          vertical-align: top;
          margin: 2px;
          padding: 4px 10px;
          border-radius: 4px;
          border: 1px solid #333;
          &.active{
            background: rgb(222, 76, 76);
            color: #fff;
            border-color: rgb(222, 76, 76);
          }
          &.disabled {
            border-style: dashed;
            background: #999;
          }
        }
      }
    }
    .sku-count-box {
      display: flex;
      justify-content: space-between;
      &>view {
        display: flex;
        button,text{
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          padding: 0;
          margin: 0;
          background: #333;
          color: #fff;
          display:inline-block;
        }
      }
    }
  }
</style>

