<template>
  <div v-if="detailData">
    <button @click="openSkuDialog">加入购物车</button>
    <uni-popup ref="popup" type="bottom" background-color="#fff">
      <SkuList :skuData="detailData?.skuList" @close="closeSkuDialog"/>
    </uni-popup>
  </div>
</template>
<script>
import SkuList from "./components/skuList";
import { getDetailData } from "@/api/detail";
import { onMounted, getCurrentInstance, reactive, toRefs, ref } from "vue";
export default {
  components: {
    SkuList
  },
  setup(props, context){
    const popup = ref(null);
    // this 是undefined 在beforeCreate之前执行
    const state = reactive({
      prodId: null,
      detailData: null,
    });
    const internalInstance = getCurrentInstance();
    const methods = {
      openSkuDialog(){
        popup.value.open('bottom');
      },
      closeSkuDialog(){
        popup.value.close();
      }
    }
    // 获取到组件实例对象
    // console.log('setup-----',this, props, context);
    const init = async () => {
      uni.showLoading({mask:true, title: '加载中'})
      // 调接口
      const data = await getDetailData({
        prodId: state.prodId
      }) 
      // console.log(data);
      state.detailData = data;
      uni.hideLoading();
    }
    onMounted(() => {
      // internalInstance.ctx 得到当前组件实例
      state.prodId = internalInstance.ctx.prodId;
      init()
    })
    return {
      ...toRefs(state),
      ...methods,
      popup
    }
  },
  onLoad(option){ // 小程序页面生命周期 
    // console.log('onLoad-----',this);
    // this指向组件实例
    this.prodId = option.prodId;
  }
}
</script>
<style>
  
</style>