<template>
  <div>
    <view 
      v-for="val in liveList" 
      :key="val.roomid"
      @click="hanldOpenLive(val.roomid)"
    >{{val.name}}</view>
  </div>
</template>
<script>
import { onMounted, reactive, toRefs } from "vue"
import { getLists } from "@/api/live"
export default {
  setup(){
    const state = reactive({
      liveList:[]
    })
    const methods = {
      hanldOpenLive(roomId){
        let customParams = encodeURIComponent(JSON.stringify({ path: 'pages/liveShop/index', pid: roomId }))
        wx.navigateTo({
          url: `plugin-private://wx2b03c6e691cd7370/pages/live-player-plugin?room_id=${roomId}&custom_params=${customParams}`
        })
      }
    }
    const init = async () => {
      const { data } = await getLists();
      // console.log(data);
      state.liveList = data.room_info;
    }
    onMounted(() => {
      init();
    })
    return {
      ...toRefs(state),
      ...methods
    }
  }
}
</script>
<style>
  
</style>